.section {
  padding: var(--spacing-4xl) 0;
  width: 100%;
}

.default {
  background-color: var(--color-bg-primary);
}

.primary {
  background-color: var(--color-bg-dark);
  color: var(--color-text-bright);
}

.secondary {
  background-color: var(--color-bg-secondary);
}

@media (max-width: 768px) {
  .section {
    padding: var(--spacing-lg) 0;
  }
}

